* {
  box-sizing: border-box;
}

body {
  max-width: 50%;
  margin-left: 25vw;
  margin-right: 25vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ddd;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4em;
}

input {
  margin: 0;
  border-radius: 0;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 24px;
  border: none;
  background: white;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: black;
  border-bottom: 1px solid #ededed;
}

.todo-checkbox:checked~.listValue {
  text-decoration: line-through;
}

.header {
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.header h2 {
  font-size: 100px;
  font-weight: 100;
  color: rgba(175, 47, 47, 0.15);
}

ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: white;
  font-size: 18px;
  transition: 0.2s;
  border-bottom: 1px solid #ededed;
}

.checked {
  background: white;
  color: gray;
  text-decoration: line-through;
}

.todoRemove {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  border: none;
  background-color: white;
}

.todo-checkbox {
  position: absolute;
  width: 40px;
  height: 20px;
  left: 0px;
}

@media(max-width: 480px) {
  .header h2 {
    font-size: 50px;
  }

  input {
    font-size: 13px;
  }

  ul li {
    font-size: 13px;
    padding: 8px 8px 8px 30px;
  }
}
